.Movie-section{
    position: relative;
    max-width: 1300px;
    width: 100%;
    padding: 0 50px;;
    min-height: 80vh;
    top:100px; 
    display: grid;
    gap: 15px;
    grid-gap:15px;
    grid-template-columns:repeat(5, minmax(0, 1fr));
    min-width: 20vw;
    overflow-x: hidden;
    margin-right: auto;
    margin-left: auto;
  
}



@media screen and (max-width:1100px) {
    .Movie-section{
        grid-template-columns:repeat(4, minmax(0, 1fr));
    }
}

@media screen and (max-width:800px) {
    .Movie-section{
        grid-template-columns:repeat(3, minmax(0, 1fr));
    }
    .header-section > img{
        min-width: 8vw;
    }
} 

@media screen and (max-width:468px) {
    .Movie-section{
        grid-template-columns:repeat(2, minmax(0, 1fr));
    }
    .searchBar{
        width: 70vw;
    }
    .header-section > img{
        min-width: 5vw;
    }

    .Message > h3 {
        color: whitesmoke;
        font-size: 12px;

     }
} 



















.searchBar{
    /* flex: 1; */
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    border: solid 1px lightgray;
     max-width:30vw;
    min-width:15vw; 
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color:  #333333;
    
 
 }

 .searchBar:hover{
    border: solid 1px #a6a6a6;
 }
 
 
 .header-section > h2{
     margin-bottom: 50px;
 }
 
 .searchBar > input{
     border: none;
     outline: none;
     width: 100%;
     background-color:  #333333;
     font-size: 15px;
     color: whitesmoke;
     
     
 }

 .searchBar > .SearchIcon {
    cursor: pointer;
  
 }


 .header-section{
    display: flex;
    align-items: center;
    background-color:  #0d0d0d;
    height: 80px;
    position: fixed;
    top:0;
    right: 0;
    left:0;
    z-index: 1;


 }

 .header-section > img{
    min-width: 10vw;
    height: 20px;
    margin-left: 20px;
  
 }

 .Message {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    padding-top: 30px;
    

 }
 .Message > h3 {
    color: whitesmoke;
    font-size: 25px;
    margin-top: 26px;
 }