.MovieCard{
    min-height: 20vh;
    min-width: 15vw;
    border: solid 1px#999999;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #808080;
    height:60vh;
    cursor: pointer;
    font-size: 16px;
    /* width: 38vw; */
    /* height: 60vh; */
 
   
    
}

.MovieCard > p{
    margin-top: -14px;
}

.MovieCard:hover{
    border: 2.5px solid whitesmoke;
    color: whitesmoke;
}

@media screen and (max-width:768px) {
    .MovieCard{
        width: 35vw;
    }
}

@media screen and (min-width:768px) and (max-width:1080px) {
    .MovieCard{
        min-width: 20vw;
    }
}

.MovieCard > img {
    /* object-fit: contain; */
    width:100%;
    height: 70%;
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
